<div class="center" >
  <br><br>
    <h1 style="color: #bdb9b7;">
      Control de luz
    </h1>
  </div>
<div class="home center">
  <div class="logeandose" ><br><br>
    <form style="width: 80%;margin-top: 8rem;margin-left: 2rem;">
      <h1><i class="bi bi-people-fill"></i></h1>
      <div class="form-floating mb-3 ">
        <input type="text" class="form-control" id="usuario" placeholder="Usuario" name="nickName" #nickName="ngModel" [(ngModel)]="user.nickName">
        <label for="floatingInput">Usuario</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" placeholder="Contraseña" name="password" #password="ngModel" [(ngModel)]="user.password">
        <label for="floatingPassword">Contraseña</label>
      </div><br><br>
      <button type="button" class="btn btn-primary btn-lg" (click)="iniciar()">Inicio</button>
  </form>
  </div>
  </div>
